<img src="http://welovecatsandkittens.com/wp-content/uploads/2014/02/boxing.gif">
<div class="other-div"></div>
<a href="http://xkcd.com" class="brownbatlink">This is a link to brown bat XKCD stuff!!</a>