<div class="jumbotron">
  <div class="container">
    <h1>Pivotal's 2017 Garbage Sorting App</h1>
    <p>Powered by your ideas!</p>
    <p><a class="btn btn-primary btn-lg" href="/quiz" role="button">Take the quiz!</a></p>
  </div>
</div>