<html>
<head>
  <link rel="stylesheet" type="text/css" href="/application.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/application.js"></script>
  <title>Hi brown bats</title>
</head>
<body>
  <div class="header">This is the homepage!!!!! (also still hi brown bats)</div>
  <div class="all-the-things">
    <%= yield %>
  </div>
</body>
</html>