.header{
  width: 70%;
  -webkit-box-shadow: inset 0px -4px 8px -3px rgba(0,0,0,0.75);
  -moz-box-shadow:    inset 0px -4px 8px -3px rgba(0,0,0,0.75);
  box-shadow:         inset 0px -4px 8px -3px rgba(0,0,0,0.75);
}